@import "../lib/twitter-bootstrap/scss/_functions.scss";
@import "../lib/twitter-bootstrap/scss/_variables.scss";
@import "../lib/twitter-bootstrap/scss/_mixins.scss";

[data-bs-theme=dark] {
    /* redefine theme colors for dark theme */
    $primary: #144B82;
    $secondary: #005FB8;

    $theme-colors: ( "primary": $primary, "secondary": $secondary, );

    /* redefine theme color variables */
    @each $color, $value in $theme-colors {
        --#{$variable-prefix}#{$color}: #{$value};
    }
    /* redefine theme color rgb vars (used for bg- colors) */
    $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

    @each $color, $value in $theme-colors-rgb {
        --#{$variable-prefix}#{$color}-rgb: #{$value};
    }

    $body-color: #dee2e6;
    $body-bg: #010917;

    --#{$variable-prefix}body-color: #{$body-color};
    --#{$variable-prefix}body-bg: #{$body-bg};
}
