[data-bs-theme=dark] {
  /* redefine theme colors for dark theme */
  /* redefine theme color variables */
  --bs-primary: #144B82;
  --bs-secondary: #005FB8;
  /* redefine theme color rgb vars (used for bg- colors) */
  --bs-primary-rgb: 20, 75, 130;
  --bs-secondary-rgb: 0, 95, 184;
  --bs-body-color: #dee2e6;
  --bs-body-bg: #010917;
}
